<section class="content-header">
    <h1>
        Chỉnh sửa sản phẩm
        <small>This is home page of SPA</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#">Sản phẩm</a></li>
        <li class="active">Sản phẩm</li>
    </ol>
</section>
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Horizontal Form</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmUpdateProduct" role="form" ng-submit="UpdateProduct()">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tên sản phẩm</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" required ng-maxlength="256" ng-change="GetSeoTitle()" name="name" ng-model="product.Name">
                        <span ng-show="frmUpdateProduct.name.$invalid" class="has-error">Tên sản phẩm là bắt buộc. </span>
                        <span ng-show="frmUpdateProduct.name.$error.maxlength" class="has-error">Tên sản phẩm tối đa 256 ký tự. </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Tiêu đề SEO</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="alias" ng-maxlength="256" required readonly ng-model="product.Alias">
                        <span ng-show="frmUpdateProduct.alias.$invalid" class="has-error">SEO title là bắt buộc. </span>
                        <span ng-show="frmUpdateProduct.alias.$error.maxlength" class="has-error">SEO title tối đa 256 ký tự. </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Hình ảnh</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="images" ng-model="product.Images">
                        <button class="btn btn-default" type="button" ng-click="ChooseImage()">Chọn ảnh</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Mô tả ngắn</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="description" ng-maxlength="500" ng-model="product.Description" />
                        <span ng-show="frmAddProduct.description.$error.maxlength" class="has-error">Mô tả tối đa 500 ký tự. </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Nội dung</label>

                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" name="content" ckeditor="ckeditorOptions" ng-model="product.Content"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tags</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="tags" ng-model="product.Tags">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Danh mục</label>

                    <div class="col-sm-10">
                        <select name="productCategoryID" class="form-control" ng-model="product.CategoryID" ng-options="option.ID as option.Name for option in productCategories">
                            <option value="">Chọn danh mục</option>
                        </select>
                        <input name="productCategoryID" type="hidden" ng-model="product.CategoryID" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Thứ tự hiển thị</label>

                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="displayOrder" ng-model="product.DisplayOrder">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Meta Keyword</label>

                    <div class="col-sm-10">
                        <input type="email" class="form-control" name="metaKeyword" ng-model="product.MetaKeyword">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Meta Description</label>

                    <div class="col-sm-10">
                        <textarea class="form-control" name="metaDescription" ng-model="product.MetaDescription"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="status" ng-model="product.Status" ng-checked="product.Status"> Kích hoạt
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="homeFlag" ng-model="product.HomeFlag" ng-checked="product.HomeFlag"> Hiển thị trang chủ
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button class="btn btn-default" ui-sref="products">Hủy</button>
                <button type="submit" ng-disabled="frmUpdateProduct.$invalid" class="btn btn-success pull-right">Lưu</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
</section>